.landing-page-container {
    background-color: #000000;
    min-height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landing-page-header h4 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
}

/* Responsive design */